.rpimg{
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin: 10px;
    display: flex;
    float: left;
    border-radius: 5px;
}

.random-planet{
    /* margin: 1em 4em 1em 4em; */
    margin-top: 1em;
    border-radius: 5px;
    min-height: 15em;
    padding: 10px;
    /* min-width: 240px; */
    
}



p{
    margin: auto;
}
h3{
    margin-top: 10px;
}