.person-details{
    border-radius: 5px;
    width: 40%;
    min-width: 500px;
    padding: 5px;
    float: left;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 4em;
}
.pimg{
    object-fit: contain;
    height: 200px;
    margin: 5px;
    display: flex;
    float: left;
    border-radius: 5px;
}