.person-details{
    margin-top: 1em;
    border-radius: 5px;
    width: 50%;
    min-width: 150px;
    padding: 5px;
    float: right;
    margin-right: 1em;
    margin-left: auto;
}
.pimg{
    object-fit: contain;
    height: 200px;
    margin: 5px;
    display: flex;
    float: left;
    border-radius: 5px;
}